# Get forecast for a specific spot

Getting all the forecast data (`wave`,`wind`,`tides`,`weather`) for a specific spot is handled by `pysurfline.SpotForecast` object.

This objects iterates through all possible `type` of API request to get all data, and it creates an object attribute for each one of them.

In [1]:
from pysurfline import SpotForecast

In [2]:
params={
    "spotId":"5842041f4e65fad6a7708890",
    "days":7,
    "intervalHours":3,
    }
spot=SpotForecast(params,verbose=True)

-----
ForecastGetter(Type:wave, Status:200)
-----
ForecastGetter(Type:wind, Status:200)
-----
ForecastGetter(Type:tides, Status:200)
-----
ForecastGetter(Type:weather, Status:200)

The `SpotForecast` attributes created from the data fetched are the following:

- forecastLocation (dict) : forecast location
- location (dict) : spot location
- offshoreLocation (dict) : location where wave are forecasted
- sunlightTimes (list): sunlight times (sunrise,sunset)
- tideLocation (dict) : location where tide is computed
- **tides** (list): list of tides forecast
- units_tides (dict) : tides units
- units_wave (dict) : wave units
- units_weather (dict) : weather units
- units_wind (dict) : wind units
- utcOffset (int) : utc offset
- **wave** (list): list of wave forecast
- weather (list): list of weather forecast
- **wind** (list): list of wind forecast

The data is stores as obtainded by the Surfline server.
In the form of dictionary or list of dictionaries.

In [11]:
spot.wave[:1]

[{'timestamp': 1644919200,
  'utcOffset': -10,
  'surf_min': 2.4255764705882354,
  'surf_max': 3.3482588235294113,
  'surf_optimalScore': 2,
  'swells': [{'height': 1.49573,
    'period': 9,
    'direction': 27.57953,
    'directionMin': 17.088825,
    'optimalScore': 0},
   {'height': 1.46124,
    'period': 18,
    'direction': 304.51038,
    'directionMin': 301.07846,
    'optimalScore': 2},
   {'height': 0.40123,
    'period': 10,
    'direction': 317.74255,
    'directionMin': 308.7481,
    'optimalScore': 0},
   {'height': 0.34288,
    'period': 8,
    'direction': 95.32605,
    'directionMin': 91.40186,
    'optimalScore': 0},
   {'height': 0.20144,
    'period': 16,
    'direction': 213.55383,
    'directionMin': 208.33016,
    'optimalScore': 0},
   {'height': 0,
    'period': 0,
    'direction': 0,
    'directionMin': 0,
    'optimalScore': 0}]}]

However, for easily accessing the data in form of `pandas.DataFrame`, the object has the `get_dataframe()` method, that resistutes a dataframe made of the data stored in the attribute passed as string.

In [4]:
waves=spot.get_dataframe("wave")
waves.head()

,utcOffset,surf_min,surf_max,surf_optimalScore,swells
timestamp,,,,,
2022-02-15 10:00:00,-10,2.425576,3.348259,2,"[{'height': 1.49573, 'period': 9, 'direction':..."
2022-02-15 13:00:00,-10,2.223929,3.227976,2,"[{'height': 1.47839, 'period': 9, 'direction':..."
2022-02-15 16:00:00,-10,2.512282,3.697694,2,"[{'height': 1.45506, 'period': 9, 'direction':..."
2022-02-15 19:00:00,-10,2.533467,3.742283,2,"[{'height': 1.35026, 'period': 9, 'direction':..."
2022-02-15 22:00:00,-10,2.928667,4.116333,2,"[{'height': 1.27662, 'period': 9, 'direction':..."

In [5]:
wind=spot.get_dataframe("wind")
wind.head()

,utcOffset,speed,direction,directionType,gust,optimalScore
timestamp,,,,,,
2022-02-15 10:00:00,-10,19.52784,62.20807,Cross-shore,20.89105,0
2022-02-15 13:00:00,-10,25.51237,74.83075,Cross-shore,28.44089,0
2022-02-15 16:00:00,-10,23.08405,92.03106,Offshore,26.28000,2
2022-02-15 19:00:00,-10,19.02943,74.52762,Cross-shore,19.44187,0
2022-02-15 22:00:00,-10,21.47713,74.64142,Cross-shore,22.71399,0

In [6]:
tides=spot.get_dataframe("tides")
tides.head()

                     utcOffset    type  height
timestamp
2022-02-15 10:00:00        -10  NORMAL    0.39
2022-02-15 11:00:00        -10  NORMAL    0.47
2022-02-15 12:00:00        -10  NORMAL    0.52
2022-02-15 12:45:07        -10    HIGH    0.53
2022-02-15 13:00:00        -10  NORMAL    0.53

In [7]:
weather=spot.get_dataframe("weather")
weather.head()

                     utcOffset  temperature    condition
timestamp
2022-02-15 10:00:00        -10     22.05899  NIGHT_CLEAR
2022-02-15 13:00:00        -10     21.84009  NIGHT_CLEAR
2022-02-15 16:00:00        -10     22.05951  NIGHT_CLEAR
2022-02-15 19:00:00        -10     22.63235        CLEAR
2022-02-15 22:00:00        -10     23.13605        CLEAR

In [8]:
spot.get_dataframe("sunlightTimes")

,midnight,midnightUTCOffset,dawn,dawnUTCOffset,sunrise,sunriseUTCOffset,sunset,sunsetUTCOffset,dusk,duskUTCOffset
0,2022-02-15 10:00:00,-10,2022-02-15 16:41:38,-10,2022-02-15 17:04:23,-10,2022-02-16 04:31:08,-10,2022-02-16 04:53:53,-10
1,2022-02-16 10:00:00,-10,2022-02-16 16:41:03,-10,2022-02-16 17:03:46,-10,2022-02-17 04:31:39,-10,2022-02-17 04:54:22,-10
2,2022-02-17 10:00:00,-10,2022-02-17 16:40:26,-10,2022-02-17 17:03:07,-10,2022-02-18 04:32:10,-10,2022-02-18 04:54:51,-10
3,2022-02-18 10:00:00,-10,2022-02-18 16:39:48,-10,2022-02-18 17:02:28,-10,2022-02-19 04:32:40,-10,2022-02-19 04:55:20,-10
4,2022-02-19 10:00:00,-10,2022-02-19 16:39:10,-10,2022-02-19 17:01:48,-10,2022-02-20 04:33:10,-10,2022-02-20 04:55:48,-10
5,2022-02-20 10:00:00,-10,2022-02-20 16:38:30,-10,2022-02-20 17:01:06,-10,2022-02-21 04:33:39,-10,2022-02-21 04:56:16,-10
6,2022-02-21 10:00:00,-10,2022-02-21 16:37:50,-10,2022-02-21 17:00:24,-10,2022-02-22 04:34:08,-10,2022-02-22 04:56:43,-10